<app-navigation></app-navigation>
<app-home></app-home>
<app-categories></app-categories>
<app-people></app-people>
<app-search></app-search>
<div class="footer">
  <p>Designed and Developed by Janro Botes</p>
  <p>Reach out:</p>
  <div class="footerlinks">
    <a href="https://www.linkedin.com/in/janro-botes/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://github.com/Vliesie"><i class="fa fa-github-square" aria-hidden="true"></i></a>
    <a href="mailto:janrobotes@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
  </div>

</div>