<nav id="navigation" class="navigation navbar navbar-fixed-top">
  <div class="container nav desktop">
        <div class="nav-heading">
              <a [skipLocationChange]="true" routerLink="/">ChuckWars</a>
        </div>
        <div class="nav-menu">
          <a href="#categories"><span><i class="fa fa-book" aria-hidden="true"></i></span>Categories</a>
      
          <a  href="#people" ><span><i class="fa fa-users" aria-hidden="true"></i></span>People</a>
     
        </div>
        <div class="search">
          <a href="#search">Search<span><i class="fa fa-search" aria-hidden="true"></i></span></a>
        </div>
     
  </div>
  <div class="container nav mobile">
        <div class="nav-heading">
              <a [skipLocationChange]="true" routerLink="/">ChuckWars</a>
              <a class="search-mobile" href="#search">Search<span><i class="fa fa-search" aria-hidden="true"></i></span></a>
        </div>
      
        <div class="nav-menu">
          <a href="#categories"><span><i class="fa fa-book" aria-hidden="true"></i></span>Categories</a>
      
          <a  href="#people" ><span><i class="fa fa-users" aria-hidden="true"></i></span>People</a>
     
        </div>
       
     
  </div>
</nav>

