<section class="home-banner" style="background-image: url('assets/1876.jpg')">
<div class="layer">
</div>
<div class="content">
  <h1>ChuckWars</h1>
  <p>A interaction between Two API: <br> ChuckAPI & swAPI</p>
</div>
</section>
<section class="about-project">
  <div class="artboard">
    <div class="card">
   
     <div class="card__side card__side--back" >
      <div class="card__cover" style="background-image: url('assets/cardback.jpg')">
       <h4 class="card__heading">
        <span class="card__heading-span">Links in regards to the project:</span>
       </h4>
      </div>
      <div class="card__details">
       <ul>
        <li><a href="https://github.com/Vliesie/ChuckWarsApi" target="_blank">Github</a></li>
        <li><a href="https://chuckwarsapi.herokuapp.com/swagger/index.html" target="_blank">ChuckWarsAPI Interface</a></li>
        <li><a href="https://api.chucknorris.io/" target="_blank">ChuckAPI</a></li>
        <li><a href="https://swapi.dev/" target="_blank">swAPI</a></li>
       </ul>
      </div>
     </div>
   
     <div class="card__side card__side--front" style="background-image: url('assets/cardback.jpg')">
      <div class="card__theme">
       <div class="card__theme-box">
        <p class="card__subject">About The Project</p>
        <p class="card__title">The project is intedned to abstract two other API and repurpose their functionality <br> <br><span style="font-weight: bolder;">Hover me to get the links</span></p>
        
       </div>
      </div>
     </div>
   
    </div>
   </div>

</section>
